body>div{
	max-width: 1080px;
	width: 100%;
	padding: 10px 20px;
	margin: 0 auto;
	border:solid 1px gray;
	border-radius: 15px;
}

input[class='entradas']{
	border: none;
	border-bottom: solid 1px gray;
	padding: 1px 5px;
	font-size: 15px;
}

input[class='entradas']:focus{
	font-size: 17px;
	border-bottom: solid 2px black;
	outline: none;
}

ul li{
	margin-bottom: 10px;
}

ul.template{
	margin: 0;
	padding: 0;
	list-style-type: none;
	padding-left: 20px;

	margin-bottom: 15px;
}